{% extends "template.html" %}

{% block content %}
<div id="sign-in-widget"></div>
<script type="text/javascript">
  var signIn = new OktaSignIn({
    baseUrl: "{{baseUri}}",
    issuer: "{{issuer}}",
    clientId: "{{clientId}}",
    redirectUri: "{{redirect_uri}}",
    logo: './static/oph.png',
    state: '{{state}}',
    authParams: {
      issuer: "{{baseUri}}",
      pkce: false,
      cookies: {secure: false},
      responseType: 'code',
      state: '{{state}}',
      scopes: ['openid', 'profile', 'email'],
      nonce: '{{nonce}}'
    }
  }
);
signIn.renderEl(
  { el: '#sign-in-widget' },
  function (res) {}
);
</script>
{% endblock content %}
